<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.filtroslys.filtroslysapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission
        android:name="android.permission.BROADCAST_SMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconolys96x96"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".MenuOpciones" />
        <activity android:name=".InspeccionMaq" />
        <activity android:name=".InspeccionMaqListLinea" />
        <activity android:name=".InspeccionGen" />
        <activity android:name=".InspeccionGenListLinea" />
        <activity android:name=".Configuracion" />
        <activity android:name=".ListaSolServicios" />
        <activity android:name=".AsignarEmpleado" />
        <activity android:name=".ListaReqLog" />
        <activity android:name=".DetalleReqLog" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DatosGenRG" />
        <activity android:name=".ListaReclamoGarantia" />
        <activity android:name=".DatosGenQueja" />
        <activity android:name=".ListaQuejaCliente" />
        <activity android:name=".DatosGenSugerencia" />
        <activity android:name=".ListaSugerenciaCliente" />
        <activity android:name=".DatosGenCapacitacion" />
        <activity android:name=".ListaCapacitacionCliente" />
        <activity android:name=".SelecCliente"></activity>
    </application>

</manifest>